<!-- <router-outlet></router-outlet> -->

<!-- START - Success Toast  -->
<ngb-alert class="alert-container" #successAlert *ngIf="showSuccessAlert" type="success"
  (closed)="showSuccessAlert = false">{{ successMessage }}</ngb-alert>
<!-- END - Success Toast  -->

<!-- START - Error Toast  -->
<ngb-alert class="alert-container" #errorAlert *ngIf="showErrorAlert" type="danger" (closed)="showErrorAlert = false">{{
  errorMessage }}</ngb-alert>
<!-- END - Error Toast  -->


<h3 class="bg-primary text-white p-2 mb-4">MVMed  </h3>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <div class="card">
        <div class="card-header">
          <h5 class="card-title">List of drugs</h5>
        </div>
        <div class="card-body">
          <p class="card-text">
            The list of drugs available are given below. You can add more, edit or delete them.
          </p>
          <p class="pull-right">
            <button class="btn btn-primary btn-sm" (click)="addItem()">
              <i class="fa fa-plus-circle pr-2" aria-hidden="true"></i>Add
            </button>
          </p>

          <!-- START - Table  -->
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Form</th>
                <th scope="col">Strengths</th>
                <th scope="col">Category</th>
                <th class="text-center" scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of drugList; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>
                  <input *ngIf="item.edit" class="form-control" type="text" [(ngModel)]="item.name" />
                  <span *ngIf="!item.edit">{{ item.name }}</span>

                </td>
                <td>
                  <input *ngIf="item.edit" class="form-control" type="text" [(ngModel)]="item.form" />
                  <span *ngIf="!item.edit">{{ item.form }}</span>
                </td>
                <td>
                  <input *ngIf="item.edit" class="form-control" type="text" [(ngModel)]="item.strengths" />
                  <span *ngIf="!item.edit">{{ item.strengths }}</span>
                </td>
                <td>
                  <input *ngIf="item.edit" class="form-control" type="text" [(ngModel)]="item.category" />
                  <span *ngIf="!item.edit" class="badge badge-pill badge-warning">{{ item.category }}</span>

                </td>
                <td class="text-center">
                  <div class="btn-group">

                    <button *ngIf="!item.edit" class="btn btn-info btn-sm" (click)="onEditClick(i)">
                      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </button>
                    <button *ngIf="item.edit" class="btn btn-success btn-sm" (click)="onSaveClick(i,content,item)">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-danger btn-sm" (click)="deleteDrug(i,deleteContent)">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>

                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- END - Table  -->

        </div>
      </div>

    </div>
  </div>
</div>

<!-- START - Confirm Save  -->
<ng-template #content let-modal>
  <div class="modal-body">
    <p>Are you sure you want to save?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success btn-sm" (click)="onSaveConfirm()">Save</button>
    <button type="button" class="btn btn-danger btn-sm" (click)="modal.close('Close click')">Cancel</button>
  </div>
</ng-template>
<!-- END - Confirm Save  -->

<!-- START - Confirm Delete  -->
<ng-template #deleteContent let-modal>
  <div class="modal-body">
    <p>Are you sure you want to delete?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success btn-sm" (click)="onConfirmDelete()">Delete</button>
    <button type="button" class="btn btn-danger btn-sm" (click)="modal.close('Close click')">Cancel</button>
  </div>
</ng-template>
<!-- END - Confirm Delete  -->